//Styles for all buttons on the page
button {
    @include spacing(2% 4%, 2%);
    width: 10rem;
    border-radius: 10px;
    background-color: white;
    font-family: $principal-font;
    font-weight: bold;
    &:hover {
        transition: all 0.5s ease;
        transform: scale(1.2);
        background-color: $button-hover;

        color: black;
    }
    cursor: pointer;
}
