.card {
    &__img {
        height: 100%;
        width: 100%;
        background-size: cover;
        
    }
    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &--spacing {
            @include spacing(3%, 0)
        }
    }
    &__price {
        font-weight: bold;
    }
}
