.footer {
    &__root {
        display: flex;
        width: 100%;
        height: 20%;
        flex-direction: column;
        margin-top: 0;
        align-items: center;

        @media (min-width: $tablet-bkp) {
            flex-direction: row;
        }
    }
    &__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50%;
        @media (min-width: $tablet-bkp) {
            width: 50%;
        }
    }
    &__img {
        width: 20%;
        height: 20%;
    }
    &__copyright {
        color: $links-color;
    }
    &__links {
        @include spacing(0, 4%);
        display: flex;
        @media (min-width: $tablet-bkp) {
            width: calc(100%/3);
        }
        &__root {
            width: 100%;
            height: 50%;
            @include spacing(0, 4%);
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (min-width: $tablet-bkp) {
                width: 50%;
                flex-direction: row;
                justify-content: center;
            }
        }
        &__social {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
        }
        &__icons {
            margin: 0 auto;
        }
    }
}