.nav {
    &__root {
        //position: fixed;
        margin-top: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 6rem;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5%;

        //background-color: white;
    }
    &__logo {
        font-size: 2.3rem;
        font-weight: bold;
    }
    &__links__root {
        display: none;
        visibility: hidden;
        text-decoration: none;
        width: 50%;
        //Responsive
        @media (min-width: $tablet-bkp) {
            @include nav-flex;
        }
        @media (min-width: $desktop-bkp) {
            @include nav-flex;
        }
    }
}
