//First and principal section after header
.hero {
    &__root {
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 30rem;
        width: 100%;
        @media (min-width: $tablet-bkp) {
            flex-direction: row;
        }
        @media (min-width: $desktop-bkp) {
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100% / 3);
        width: 100%;
        &__1,
        &__3 {
            @media (min-width: $tablet-bkp) {
                width: 30%;
                height: 65%;
            }
            @media (min-width: $desktop-bkp) {
            }
        }
        &__2 {
            height: 100%;
        }
        //Elements
    }
    &__img {
        @include img-block(90%, auto);
    }
}

//Accesories section

.accesories {
    &__root {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @media (min-width: $tablet-bkp) {
            flex-direction: row;
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100rem / 3);
        @media (min-width: $tablet-bkp) {
            width: 30%;
            height: 80%;
        }
        
        &__img {
            //@include img-block(100%, 100%);
            height: 100%;
            width: 100%;
            background-size: cover;
        }
        &__info {
            height: 15rem;
            @media (min-width: $tablet-bkp) {
                width: 40%;
                height: 18rem;
            }
        }
        &__buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media (min-width: $tablet-bkp) {
                width: 100%;
            }
        }
    }
}

//Cards
.cards {
    &__root {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    &__title {
        color: white;
        &__cnt {
            width: 100%;
            //background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 7rem;
        }
    }
    &__block {
        width: 100%;
    }
    &__row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: $desktop-bkp) {
            flex-direction: row;
        }
    }
    &__card {
        @include card-settings;

        //This only applies for desktop to make a stairs container with cards
        &--special {
            @media (min-width: $desktop-bkp) {
                @include card-settings;
                //Test with and without border. Are visually nice both
                border: 0;
            }
        }
    }
}
