//Main colors
$first-color: #E1DAAE;
$second-color: #848FA2;
$third-color: #CC2D35;
$fourth-color: #2D3142;
$fifth-color: #FF934F;
$sixth-color: #058ED9;

$button-hover: #cbcbcb;

$background: #CCBAA4;
$links-color: white;
$button-color: rgb(255, 223, 182);
$footer-color: black;