//For section images backgrounds

@mixin img-background($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    object-position: center;
}

@mixin img-block($width,$height) {
    background-repeat: no-repeat;
        background-size: contain;
        width: $width;
        height: $height;
        object-fit: cover;
        object-position: center;
}