/*Modified to be mobile first*/
/*HEADER*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: $principal-font;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    
}
h1,h2,h3,h4,h5,h6,p {
    color: white;
}

ul {
    list-style-type: none;
}


footer {
    background-color: $footer-color;
}

/*Body container*/
.body__root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//Hero
.body__hero__root {
    background-image: url("https://www.publicdomainpictures.net/pictures/130000/nahled/blue-background-1440627643Oc1.jpg");
    opacity: 0.25;
    @include spacing(5% 0, 7.5%);
    //padding-top: 11rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*CARDS*/

/*container of cards*/
.body__cards__root {
    //padding-top: 10rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*Responsive*/

@media (min-width: 300px) {
    body {
        width: 100%;
    }
}

/*Tablet*/
/*Adding the max is being redundant because afterwards, theres a min of higher width but is technically correct, just more code*/
@media (min-width: $tablet-bkp) {
    
}

/*Desktop*/
@media (min-width: $desktop-bkp) {
    /*Define a width for the main container to visualize in the middle for bigger screens*/
    .main {
        &__root{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        &__section {
            max-width: 1500px;
        }
        
    }
    .footer__root {
        width: 100%;
    }
}

.card__root--big {
    @include card-size(100%, 25rem);
}
